body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2 {
	font-family: 'Triforce';
}

.jumbotron {
  padding:2rem 2rem;
}

.navbar-brand {
	font-family: 'SNES', 'Helvetica';
	letter-spacing: 3px;
}

.gameContainer .btn {
	font-family:  Helvetica;
	/*font-size:26px;*/
	/*letter-spacing: 3px;*/
}

.container {
	margin-top:5rem;
}


.nav-link > i {
  padding-left:5px;
}


 .gameContainer .row > div {
	margin-bottom:2rem;
}

.shoppingCart img {
	max-width: 100%;
}


@media screen and (min-width:601px) {
 .gameContainer	img {
	height:250px;
	}

.hidden-xs-down {
	display:none !important;
}

.card {
  width: 18rem;
}

}


/* shopping cart css */
#cart.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
    width:100%;
		margin:.1em 0;
	}



	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
	    width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
